{% extends '_layouts/base.html' %}

{% load static%}

{% block title %} Gitlab Projects {% endblock %}

{% block headline %}<h1>Gitlab Projects</a></h1>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "report/css/compatibility_result.css" %}">
<script src="{% static "report/jquery.min.js" %}"></script>
<script src="{% static "report/bootstrap.min.js" %}"></script>
{% endblock %}

{% block content %}
<table border="1">
	<tr>
		<th>Index</th>
		<th>Project Id</th>
		<th>WebUrl Path</th>
</tr>
{% for gitlab_project in gitlab_projects %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="/lkft/gitlab/{{gitlab_project.project_id}}/">{{gitlab_project.project_id}}</a></td>
    <td><a href="{{gitlab_project.web_url}}/">{{gitlab_project.path_with_namespace}}</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}
